.slider-animation {
    animation: slideAnimation 1s ease-in-out; /* Adjust the duration as needed */
  }

@keyframes slideAnimation {
    0% {
      opacity: 0.2;
    }
    50%{
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }